<% layout("/layouts/boilerplate") %>
<body>
    <h3>All Listings</h3>
    <form action="/listings/new" method="get">
        <button>Add New Listing</button>
    </form>
    <ul>
       <% for(let listing of allListings){ %>
            <li><a href="/listings/<%= listing.id %>"><%= listing.title %></a></li>
        <% } %>
    </ul>
</body>
