<% layout("/layouts/boilerplate") %>
<div class="row">
    <div class="col-8 offset-2">
        <br><br>
    <h3>Add New Listing</h3><br>

    <form action="/listings" method="post" novalidate class="needs-validation">
        <div class="mb-3">
            <label for="Listing[title]" class="form-label">Title</label>
            <input type="text" name="Listing[title]" placeholder="Enter Title" class="form-control" required>
                <div class="invalid-feedback">
                    Please provide a valid title.
                </div>
        </div>
        <div class="mb-3">
            <label for="Listing[description]">Description</label>
            <textarea class="form-control" name="Listing[description]" placeholder="Enter Description" required></textarea>
                <div class="invalid-feedback">
                    Please provide a valid Description.
                </div>
        </div>
        <div class="mb-3">
            <label for="Listing[image]">Image</label>
            <input type="text" name="Listing[image]" placeholder="Enter Image URL/link" class="form-control">
        </div>
     <div class="row">
           <div class="mb-3 col-md-4">
            <label for="Listing[price]">Price</label>
            <input type="number" name="Listing[price]" placeholder="Enter Price" class="form-control" required>
                <div class="invalid-feedback">
                    Enter Price.
                </div>
        </div>
        <div class="mb-3 col-md-8">
            <label for="Listing[location]">Location</label>
            <input type="text" name="Listing[location]" placeholder="Enter location" class="form-control" required>
                <div class="invalid-feedback">
                    Please provide a valid Location.
                </div>
        </div>
     </div>
        <div class="mb-3">
            <label for="Listing[country]">Country</label>
            <input type="text" name="Listing[country]" placeholder="Enter country" class="form-control" required>
                <div class="invalid-feedback">
                    Please provide a Country Name.
                </div>
        </div><br>
            <button class="btn btn-dark add-btn">Add</button>
            <br>
            <br>
    </form>
    </div>
</div>