<% layout("/layouts/boilerplate") %>
<div class="row mt-3">
    <h2 class="col-6 offset-3">Sign Up on WanderLust</h2>
    <div class="col-6 offset-3">
        <form action="/signup" method="post" class="needs-validation novalidate">
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" name="username" id="username" placeholder="Enter Username" class="form-control" required>
                <div class="invalid-feedback">
                    Please provide a valid Username.
                </div>
          
        </form>
    </div>        
</div>